logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test/worksheet.sc

application.local.conf
start.sh
a-start.sh
*test.sc
clean.sh
project/plugins.credentials.sbt
